EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:3001
EXPO_PUBLIC_ROUTING_ALNS_URL=http://YOUR_SERVER_HOST:8005/start_alns
EXPO_PUBLIC_ROUTING_ALNSTW_URL=http://YOUR_SERVER_HOST:8012/start_alnstw
EXPO_PUBLIC_ROUTING_DQN_URL=http://YOUR_SERVER_HOST:8006/start_dqn
EXPO_PUBLIC_ROUTING_QLEARNING_URL=http://YOUR_SERVER_HOST:8007/start_qlearning
EXPO_PUBLIC_ROUTING_SA_URL=http://YOUR_SERVER_HOST:8005/start_sa
EXPO_PUBLIC_ROUTING_TS_URL=http://YOUR_SERVER_HOST:8005/start_ts
# Optional for local prebuild/release map provider setup:
# GOOGLE_MAPS_API_KEY=your_google_maps_key
